/* src/Grid.css */
.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr); /* 6 columns */
	gap: 10px; /* Gap between grid items */
	height: 30vw;
	width: 30vw;
	padding: 5px;
	user-select: none;  
}

.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}
