.calendar {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	background-color: white;
	width: 50vw;

	margin: 2vh 2vh;
	padding: 10px;
}

.day-name,
.day-number {
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	text-align: center;
}

.day-name {
	font-weight: bold;
}
